{% extends "singervote_base.html"  %}
{% block content %}
{%load static%}

<form id='guess_form' action='.' method='POST'>
<div id="container">
<div id="header"><br><h1>Welcome! Please vote your favorite singer!</h1></div>
<div id="maincontent">
<div id="content">
<br><br><br><br><br>
<table cellpadding="0" cellspacing="0" border="0" align="center">
	<tr>
{% for player, value, score, song_name, song_url, feed in list_list %}
{% ifequal feed 'True' %}</tr><tr>{% endifequal %}
    	<td>
        	<table width="175" cellpadding="0" cellspacing="1" border="0" bgcolor="#D1D1D1">
            	<tr>
                	<td colspan="2">
                    	<img width="175" src='{% get_static_prefix %}images/{{player}}.png'>
                    </td>
                </tr>
            	<tr>
                	<td colspan="2" height="50">
                    	<p style="line-height:125%">
                        <b>&nbsp;&nbsp;{{player}}</b>
                        <br>
                        &nbsp;&nbsp;{{song_name}}
                        </p>
                    </td>
                </tr>
            	<tr>
                	<td width="143" height="30">
<input type='checkbox' name='player' value='{{player}}'  {%ifequal value 'True'%}checked='checked'{%endifequal%}/>Vote Total: {{score}}
                    </td>
                	<td width="32">
                    	<a href='//{{song_url}}' target='_blank'><img src="{% get_static_prefix %}images/Play.png"></a>
                    </td>
                </tr>
            </table>
        </td>
    {%endfor%}
    </tr>
    <tr>
<td colspan='13' height='200' align='bottom'>
Please input your Sonicwall English Name:
<input type='text' name='username' style="width=2px;" value='{{username}}'/>
<input type='submit' name='Submit' value='submit'/>
<p>
<font color='red'>{{err_msg}}</font>
{{response_msg}}
<p>
<input type="hidden" name="isNotFirst" value="1"/>
{% if admin %}
<input type='text' name='admin_key' />
{% endif %}
</td></tr>
</table>
</form>
{% endblock %}
