<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Vote for Singers!</title>

{% load static %}
<link rel="stylesheet" type="text/css" href='{% get_static_prefix %}CSS/singer.css' />

<script language="javascript">

function playit(player_id)
{
    window.open('/play/'+player_id, null, 'height=550, width=400, top='+(screen.height-700)/2+', left='+(screen.width-200)/2+', toolbar=no, menubar=0, scrollbars=no, location=no, status=no');
}

function voteit(id)
{
    if (document.getElementById(id).checked == false)
    {
        document.getElementById("img_"+id).src = "{% get_static_prefix %}images/MyFavor.png";
    }
    else
    {
        document.getElementById("img_"+id).src = "{% get_static_prefix %}images/NoFavor.png";
    }
}

function onMouse(obj)
{
    obj.style.backgroundColor="green";
}

function outMouse(obj)
{
    obj.style.backgroundColor="";
}

function delPlayer()
{
    if(!confirm("Are you sure?"))
    {
        window.event.returnValue = false;
    }
}

</script>
<body background='{% get_static_prefix %}images/homepageBg.png'>
{% block content %}{% endblock %}

</body>
</html>
