{% extends "singervote_base.html"  %}
{% block content %}
{%load static%}

<form id='guess_form' action='.' method='POST'>
<div id="container">
	<div id="header" style="font-family:Times New Rome"><center><br><h1>{% ifequal anynomous 0 %}{{player}} :{%endifequal%} {{song_name}}</h1></center></div>
<div id="maincontent">
<div id="content">
<br>
<center><object height="400px" width="300px" name="gPlayer" title="{{song_name}}" data="{%get_static_prefix%}songs/{{song_name}}.mp3" type="application/x-mplayer2" ></center>
{% endblock %}
