{% extends "singervote_base.html"  %}
{% block content %}
{%load static%}


<form id='guess_form' action='.' method='POST'>	
<div id="container">
<div id="header"><center><br>
		<h1>Please Vote your Favorite Singer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total Voter:&nbsp;<b><font color="#d03a2e">{{tt}}</font></b></h1>  <h2><font color="#d03a2e">Sharing Area is opening!</font>&nbsp;&nbsp;<a href='/share/'> Go >></a></h2></center></div>
<div id="maincontent">
<div id="content">
<br><br><br>
<table cellpadding="0" cellspacing="0" border="0" align="center">
<tr>
{% for player, player_id, value, score, song_name, song_url, feed in list_list %}
{% ifequal feed 'True' %}</tr><tr><td height="40">&nbsp;</td></tr><tr>{% endifequal %}
		<td width="25">&nbsp;</td>
		<td>
        	<table width="175" cellpadding="0" cellspacing="1" border="0" bgcolor="#D0D0D0">
            	<tr>
					<td colspan="2" height="175">
						{% ifequal anynomous 0 %}
						<img width="175" style="vertical-align:bottom" src='{% get_static_prefix %}images/{{player}}.png' /><center><B>{{player}}</B></center>
					{% else %}
						<img width="175" style="vertical-align:bottom" src='{% get_static_prefix %}images/{{player_id}}.png' />
						{% endifequal %}
					</td>
                </tr>
            	<tr>
                	<td colspan="2" height="32" bgcolor="#FFFFFF" style="line-height:125%; margin-top:4px;">
						&nbsp;&nbsp;<font color="#454545"><b>{{song_name}}</b></font>
                    </td>
                </tr>
            	<tr>
                	<td width="100%" height="28" bgcolor="#FFFFFF" valign="middle">
					<label for="{{player_id}}" onclick="javascript:voteit({{player_id}});">
						&nbsp;<input class="clsCheckBox"  type='checkbox'  name="player_id" id="{{player_id}}" value="{{player_id}}"
                        {% ifequal value 'True'%} checked="checked" {% endifequal %} />
                        {% ifequal value 'True'%}
                        <img border="0" disabled style="cursor:pointer" id="img_{{player_id}}" align="absmiddle" src='{% get_static_prefix %}images/MyFavor.png' />
                        {% else %}
                        <img border="0" disabled style="cursor:pointer" id="img_{{player_id}}" align="absmiddle" src='{% get_static_prefix %}images/NoFavor.png' />
                        {% endifequal %}
                    </label>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <font color="#454545"> Vote Total: <font color="#dd4a28"><b>{{score}}</b></font></font>
                    </td>
                	<td width="28" bgcolor="#FFFFFF" align="center">
						<a href= "javascript:playit({{player_id}});"><img border="0" align="absmiddle" src="{% get_static_prefix %}images/Play.png"></a>
                    </td>
                </tr>
            </table>
        </td>
        <td width="25">&nbsp;</td>
    {%endfor%}
    </tr></table>
<p><p><p><br>
<center><h2><font color='#d03a2e'>{{err_msg}}{{response_msg}}</font></h2></center>
<br>
<center>
{% ifequal enablevote 0 %}
<B><h2>Vote not start now, please wait and enjoy the music......</h2></B>
{% else %}
Please input your Sonicwall English Name:
<input type='text' name='username' style="width=2px;" value='{{username}}'/>
<input type='submit' name='Submit' value='submit'/>
<input type="hidden" name="isNotFirst" value="1"/>
<input type="hidden" name="share_flag" value="0"/>
<p>
{% endifequal %}
<br><br><br>
</center>
</form>
{% endblock %}
