{% extends "singervote_base.html"  %}
{% block content %}
{%load static%}

<p></p>
<p></p>
<p></p>
<form id='guess_form' action='/add/' method='POST'>


<div id="container" bgcolor="#bfe7f1">
<div id="header"><center><br><h1>Welcome! Please add the song information!</h1></center></div>
<div id="maincontent">
<div id="content">
	<br><br>
<table align="center" border=0 cellpadding=2 cellspacing=0 width="900">
<tr>
{% ifequal anynomous 1 %}
<td colspan='3' ><b>Setting 1: Click to display player's name in vote page ---- <a href='/anynomous/0'>Display player's name In Vote Page</a></b></td>
{% else %}
<td colspan='3' ><b>Setting 1: Click to hide player's name in vote page    ---- <a href='/anynomous/1'>Hide player's name In Vote Page</a></b></td>
{% endifequal%}
</tr><tr>
{% ifequal ranksort 0 %}
<td colspan='3' ><b>Setting 2: Click to Sort Rank in vote page             ---- <a href='/ranksort/1'>Sort Rank</a></b></td>
{% else %} 
<td colspan='3' ><b>Setting 2: Click to Non-Sort rank in vote page         ---- <a href='/ranksort/0'>Non-Sort Rank</a></b></td>
{% endifequal%}
<td><center><h3><a href='/vote/'>return vote page</a></h3></center></td>
</tr>
<tr>
	<td colspan="3">
		<table cellpadding="0" cellspacing="0" border="0">
			<tr><td width="85" height="25"><b>player name:</b></td><td> <input type='text' name='add_player_name' value='' maxlength='75'></td></tr>
			<tr><td width="85" height="25"><b>song name:</b></td><td> <input type='text' name='add_song_name' value='' maxlength='75'></td></tr>
			<tr><td>&nbsp;</td><td height="45" valign='middle'><input type='submit' name='Submit' value='Add a new player'/></td></tr>
		</table>
	</td>
</tr></table>
<table cellpadding="0" cellspacing="1" border="0" width="720" align="center">	
	<tr><td height='30' colspan='8'></td></tr>
	<tr bgcolor="#e0ddc0" height="30" align="center">
		<td></td>
		<td><B><font color="#775533">Singer</font></B></td>
		<td align="center"><B><font color="#775533">Score</font></B></td>
		<td><B><font color="#775533">Song Name</font></B></td>
		<td><B><font color="#775533">Operation</font></B></td>
	</tr>
{% for player_id, player, score, song_name, song_url in list_list %}
<tr onmousemove="onMouse(this)" onmouseout="outMouse(this)" align="center"><td width="30">
<img src='{% get_static_prefix %}images/Dot_orange.png' /></td>
<td width="95"><B>{{player}}</B></td>
<td width="45" align="center"><B>{{score}}</B></td>
<td width="200"><B>{{song_name}}</B> </td>
<td width="60" align="center"><a href='/del/{{player_id}}' onClick="return confirm('Are you sure?')">Delete</a></td>
</tr>
{% endfor %}
<tr>
<td colspan='8' height='200' align='bottom'>
<p>
<font color='red'>{{err_msg}}</font>
<p>
<input type="hidden" name="isNotFirst" value="1"/>
</td></tr>
<tr><td colspan='8' height='100' align='center'>
</td></tr>
</table>
</div>


</form>
</div>
</div>
{% endblock %}
