{% extends "singervote_base.html"  %}
{% block content %}
{%load static%}

<p></p>
<p></p>
<p></p>
<p></p>
<form id='guess_form' action='/add/' method='POST'>


<div id="container">
    <div id="header"><br><h1>Welcome! Please vote your favorite singer!</h1></div>
<div id="maincontent">
<div id="content">
<br><br><br><br><br>
<table  border=0 cellpadding=2 cellspacing=0>
<tr><td width='50'></td>
{% ifequal anynomous 1 %}
<td colspan='3' >Notice: Current is Anynomous status ---- <a href='/anynomous/0'>Set Real Name In Vote Page</a></td>
{% else %}
<td colspan='3' >Notice: Current is Real Name status ---- <a href='/anynomous/1'>Set Anynomous In Vote Page</a></td>
{% endifequal%}
<td><center><h3><a href='/vote/'>return vote page</a></h3></center></td>
</tr>
<tr><td width="50"></td>
<td></td>
<td>player name: <input type='text' name='add_player_name' value='' maxlength='64'></td>
<td>song name: <input type='text' name='add_song_name' value='' maxlength='64'></td>
<td>song url: <input type='text' name='add_song_url' value=''></td>
<td align='center'><input type='submit' name='Submit' value='Add a new player'/></td></tr></table>
<table>
<tr><td height='50' colspan='8'></td></tr>
{% for player_id, player, score, song_name, song_url in list_list %}
<tr><td width="50"></td><td>
<img src='{% get_static_prefix %}images/{{player}}.png' /></td>
<td>player name: <B>{{player}}</B></td><td> score:<B>{{score}}</B></td>
<td>song name:   <B>{{song_name}}</B> </td>
<td>song url:    <B>{{song_url}}</B></td>
<td><a href='/del/{{player_id}}'>Delete</a></td>
</tr>
{% endfor %}
<tr>
<td colspan='8' height='200' align='bottom'>
<p>
<font color='red'>{{err_msg}}</font>
<p>
<input type="hidden" name="isNotFirst" value="1"/>
</td></tr>
<tr><td colspan='8' height='100' align='center'>
</td></tr>
</table>
</div>


</form>
</div>
</div>
{% endblock %}
