{% extends "singervote_base.html"  %}
{% block content %}
{%load static%}

<p></p>
<p></p>
<p></p>
<form id='guess_form' action='/add/' method='POST'>


<div id="container" bgcolor="#bfe7f1">
<div id="header"><center><br><h1>Welcome! Please add the song information!</h1></center></div>
<div id="maincontent">
<div id="content">
	<br><br>
<table align="center" border=0 cellpadding=2 cellspacing=0 width="900">
<tr><td width='50'>&nbsp;</td>
{% ifequal anynomous 1 %}
<td colspan='3' >Notice: Current is Anynomous status ---- <a href='/anynomous/0'>Set Real Name In Vote Page</a></td>
{% else %}
<td colspan='3' >Notice: Current is Real Name status ---- <a href='/anynomous/1'>Set Anynomous In Vote Page</a></td>
{% endifequal%}
<td><center><h3><a href='/vote/'>return vote page</a></h3></center></td>
</tr>
<tr><td width="50">&nbsp;</td>
	<td>&nbsp;</td>
	<td>
		<table cellpadding="0" cellspacing="0" border="0">
			<tr><td width="85" height="25">player name:</td><td> <input type='text' name='add_player_name' value='' maxlength='75'></td></tr>
			<tr><td width="85" height="25">song name:</td><td> <input type='text' name='add_song_name' value='' maxlength='75'></td></tr>
			<tr><td width="85" height="25">song url:</td><td> <input type='text' name='add_song_url' value='' size="50"></td></tr>
			<tr><td>&nbsp;</td><td height="45" valign='middle'><input type='submit' name='Submit' value='Add a new player'/></td></tr>
		</table>
	</td>
</tr></table>
<table cellpadding="0" cellspacing="1" border="0" width="900" align="center">	
	<tr><td height='30' colspan='8'></td></tr>
	<tr bgcolor="#e0ddc0">
		<td height="28"></td>
		<td></td>
		<td><B><font color="#775533">Singer</font></B></td>
		<td>&nbsp;&nbsp;<B><font color="#775533">Score</font></B></td>
		<td>&nbsp;</td>
		<td><B><font color="#775533">Song Name</font></B></td>
		<td><B><font color="#775533">URL</font></B></td>
	</tr>
{% for player_id, player, score, song_name, song_url in list_list %}
<tr><td width="50"></td><td>
<img src='{% get_static_prefix %}images/Dot_orange.png' /></td>
<td width="95"><B>{{player}}</B></td>
<td bgcolor="#ead0c3" width="60">&nbsp; score:<B>{{score}}</B></td>
<td width="60" align="center"><a href='/del/{{player_id}}'>Delete</a></td>
<td width="265"><B>{{song_name}}</B> </td>
<td><B>{{song_url}}</B></td>
</tr>
{% endfor %}
<tr>
<td colspan='8' height='200' align='bottom'>
<p>
<font color='red'>{{err_msg}}</font>
<p>
<input type="hidden" name="isNotFirst" value="1"/>
</td></tr>
<tr><td colspan='8' height='100' align='center'>
</td></tr>
</table>
</div>


</form>
</div>
</div>
{% endblock %}
