
body{background-color:#c0c0c0}

#container{width:100%}

#header{margin-bottom:5px;  height:70px; text-align:center;}


#maincontent{
height:500px;
margin-bottom:5px;
}

#sidebar{
width:200px;
text-align:center;
float:right;
overflow:hidden;
}

#sidebar2{
height:250px;
margin-left:15%;
text-align:center;
overflow:hidden;
}

#content{
height:250px; 
margin-bottom:5px;
margin-left:5%;
text-align:center;
}

#footer{
height:60px;


}
