body{
    
	font-family:Arial, Verdana, sans-serif;
	color:#E5E5E5;
	font-size:12px;
    }

#container{width:100%}

#header{margin-bottom:5px;  height:70px; text-align:left;}


#maincontent{
height:500px;
margin-bottom:5px;
}
