body{
    background-color:#99d3e0;
    font-family:Arial, Verdana, sans-serif;
	color:#2A2A2A;
	font-size:12px;
    }

#container{width:100%}

#header{margin-bottom:5px;  height:70px; text-align:left;}


#maincontent{
height:500px;
margin-bottom:5px;
}
