{% extends "worldcup_base.html"  %}
{% block content %}
{%load static%}

<p></p>
<p></p>
<p></p>
<p></p>

{% if err_msg %}
<center><h1>{{err_msg}}</h1></center>
{% else %}
<div id="container">
    <div id="header"><br>Welcome to World_Cup Guess Site, Please enjoy yourself!</div>
<div id="content">
<br><br><br><br><br>
<table  border=0 cellpadding=2 cellspacing=0>
<tr>
{% for contry1, contry2, radio_name, radio_value, feed in list_list %}
{% ifequal feed 'True' %}</tr><tr>{% endifequal %}
<td width="50"></td><td>
<img src='{% get_static_prefix %}images/{{contry1}}.png' />
{{contry1}} VS {{contry2}} 
<img src='{% get_static_prefix %}images/{{contry2}}.png' ><br><br>
<input type='radio' disabled='true' name='{{radio_name}}' value='win' {%ifequal radio_value 'win'%}checked='checked'{%endifequal%}/>胜
<input type='radio' disabled='true' name='{{radio_name}}' value='draw'  {%ifequal radio_value 'draw'%}checked='checked'{%endifequal%}/>平
<input type='radio' disabled='true' name='{{radio_name}}' value='lose'  {%ifequal radio_value 'lose'%}checked='checked'{%endifequal%}/>胜
&nbsp;&nbsp;&nbsp;&nbsp;</td>
{% endfor %}
</tr>
<tr><td height='80px' colspan='8' align='bottom'>
<h2><a href="/guess/" >Return</a></h2>
</td><tr>
</table>
</div>
</div>
{% endif %}
<p>
{% endblock %}
